
.iconos{
  width: 10%;
}
.encabezado{
  height: 100px;
}
.encabezado2{
  background-color: #7277F3;
  border-radius: 15px 15px 0px 0px !important;
}
.separador{
  height: 10px;
}
.menuiconos{
  position: absolute;
  bottom: 0px;
  padding-right: 15px;
}
.encabezadoenlaces{
  width: 100%;
}
.contenido{
  background-color: gray;
  min-height: 300px;
}
li a{
  color: black !important;
}
.menuiconosprin{
  background-color: #A9ACF0 !important;
}
