
.encabezado{
  min-height: 100px;
  background-color: #7277F3;
  border-radius: 15px 15px 0px 0px !important;
}
.encabezado2{
  height: 100%;
}
.iconos{
  width: 13%;
}
.encabezadoenlaces{
  width: 100%;
}
.menuiconosprin{
  background-color: #A9ACF0 !important;
}
.imgcom{
  width: 100px;
  padding: 5px 10px;
}
.post1y2{
  width: 100%;
  height: 400px;
}
.contenidoprin{
  margin-top: 10px;
}
.imgartis{
  height: 300px;
  width: 100%;
  padding: 5px;
}
@media only screen and (min-width: 720px) {
  .menuiconos{
    height: 100%;
    padding-top: 18%;
  }
}
